In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark-Marathi-Learning") \
    .getOrCreate()

In [0]:
data = [
    ("Pune", "Haveli", "Village1", 120),
    ("Pune", "Haveli", "Village2", 90),
    ("Pune", "Mulshi", "Village3", 60),
    ("Solapur", "Pandharpur", "Village4", 150),
    ("Solapur", "Pandharpur", "Village5", 110)
]

columns = ["District", "Taluka", "Village", "HouseConnections"]

df = spark.createDataFrame(data, columns)

In [0]:
df.display()

In [0]:
df_filtered = df.filter(df["HouseConnections"] > 100)
df_filtered.show()

In [0]:
df.groupBy("District") \
  .sum("HouseConnections") \
  .show()

In [0]:
from pyspark.sql.functions import col

df.groupBy("District") \
  .sum("HouseConnections") \
  .withColumnRenamed("sum(HouseConnections)", "TotalConnections") \
  .show()

In [0]:
result_df = df.filter(df["HouseConnections"] > 100) \
    .groupBy("District", "Taluka") \
    .sum("HouseConnections") \
    .withColumnRenamed("sum(HouseConnections)", "TotalConnections")

result_df.show()

In [0]:
%sql

create database test_db;

In [0]:
%sql

use test_db;

create table test_table (id int, name string);

In [0]:
%sql
insert into test_table values (1, 'John'), (2, 'Jane');
select * from test_table;